#scroll {
	position: absolute;
	bottom: 0px;
	left: 0px;
	opacity: 0.4;
}

#weather img {
	margin-left: 25px;
	margin-top: -10px;
	opacity: 0.6;
}

#weather img:hover {
	opacity: 1;
}


#content {
	padding-left: 60px;
}

#content > div {
	display: block;
	float: left;
}

#hromadske {
	height: 600px;
}

#info {
	margin-left: 100px;
	margin-bottom: 4px;

	height: 215px;  /* 600 - 360 youtube video */
}

.twitter-bar {
	width: 280px;
	
}

/* ukrapravda rss feed hack */
.fg_wid_header {
	text-align: center;
}